/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/

.welcome-area {
	overflow: hidden;
	position: relative;
	padding-top: 150px;
	padding-bottom: 100px;
	background: #fff url(../images/header-bg.svg) top left no-repeat;
	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
			transform-style: preserve-3d;

	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background: none;
		z-index: 3;
	}

	.header-text {

		h1 {
			@include font($normal, 28px);
			color: #1E3056;
			line-height: 46px;
			letter-spacing: 0.93px;
			margin-bottom: 20px;

			span {
				color: $primaryColor;
			}
		}

		p {
			@include font($normal, 16px);
			color: #697BA2;
			line-height: 28px;
			letter-spacing: 1px;
			margin-bottom: 40px;
			position: relative;
		}

		.btn-primary-line {
			width: 170px;
			margin-bottom: 0px;
		}
	}

	.home-img-group {
		position: relative;
		height: 543px;

		.home-img {
			width: 100%;
			height: 200px;
			margin-bottom: 2%;
      @include radius(5px);
      box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);

			&.img-1 {
				width: 49%;
				height: 332px;
				float: left;
				position: absolute;
				top: 0px;
				left: 0px;
			}

			&.img-2 {
				width: 49%;
				height: 251px;
				float: right;
				position: absolute;
				top: 0px;
				right: 0px;
			}

			&.img-3 {
				width: 49%;
				float: left;
				position: absolute;
				bottom: 0px;
				left: 0px;
				margin-bottom: 0px;

				.play-button-wrapper {
					position: absolute;
					width: 100%;
					top: 48%;
					left: 0px;
					transform: perspective(1px) translateY(-45%);
					z-index: 4;
					right: 0px;

					.btn-play {
						width: 60px;
						height: 60px;
						line-height: 60px;
						text-align: center;
						font-size: 22px;
						color: #fff;
						margin: auto;
						left: 0px;
						right: 0px;
						display: block;
						border: 1px solid #fff;
						@include radius(100px);
						position: absolute;
						overflow: hidden;
						top: 50%;
						transform: perspective(1px) translateY(-50%);
						z-index: 3;

						&:before {
							content: '';
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0px;
							top: 0px;
							background: #fff;
							opacity: .25;
							z-index: 1;
						}

						i {
							padding-left: 5px;
							position: relative;
							z-index: 2;
						}
					}
				}
			}

			&.img-4 {
				width: 49%;
				height: 281px;
				float: right;
				position: absolute;
				bottom: 0px;
				right: 0px;
				margin-bottom: 0px;

				&:after {
					content: '';
					position: absolute;
					background: $primaryColor;
					z-index: 2;
					width: 100%;
					height: 100%;
					top: 0px;
					left: 0px;
					opacity: .80;
				}

				.content {
					position: absolute;
					z-index: 3;
					width: 100%;
					height: 100%;
					top: 0px;
					display: flex;
					align-items: center;
					justify-content: center;

					.text {
						position: relative;
						z-index: 3;
						padding-left: 15px;
						padding-right: 15px;

						strong {
							display: block;
							color: #fff;
							@include font($normal, 14px);
							letter-spacing: 0.88px;
							margin-bottom: 10px;
						}

						p {
							display: block;
							color: #fff;
							@include font($normal, 18px);
							letter-spacing: 1.12px;
							line-height: 28px;
							margin-bottom: 0px;
							padding-bottom: 0px;
						}
					}
				}
			}
		}
	}
}


@media (max-width : 991px) {
	.welcome-area {

		.header-text {
			text-align: center;

			h1 {
				text-align: center;
			}

			p {
        text-align: center;
      }
      
      .img-4 p {
        font-size: 14px !important;
        line-height: 1.6 !important;
        letter-spacing: normal !important;
      }

			.btn-primary-line {
				margin: auto;
				margin-bottom: 50px;
			}
		}
	}
}